
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Ottawa Local Weather</title>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%# inline basic CSS for some page load love - update it here: https://jonassebastianohlsson.com/criticalpathcssgenerator/ %>
    <style>
     @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic);button,h3{color:inherit}.container:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.row:after{clear:both}.text-center,header{text-align:center}.navbar-default .navbar-nav>li>a,.navbar-default .navbar-text,header{color:#fff}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}header,nav,section{display:block}a{background-color:transparent;color:#18BC9C;text-decoration:none}button{font:inherit;margin:0;overflow:visible;text-transform:none;-webkit-appearance:button}button::-moz-focus-inner{border:0;padding:0}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}html{font-size:10px}body{margin:0;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:15px;line-height:1.42857143;color:#2C3E50;background-color:#fff}button{font-family:inherit;font-size:inherit;line-height:inherit}.navbar,h3{text-transform:uppercase;font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:700}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0}h3,ul{margin-bottom:10.5px}.col-xs-12,.container,.navbar-collapse{padding-right:15px;padding-left:15px}h3{line-height:1.1;margin-top:21px;font-size:26px}p{margin:0 0 10.5px;font-size:20px}ul{margin-top:0}.container{margin-right:auto;margin-left:auto}.container>.navbar-collapse,.container>.navbar-header,.row{margin-right:-15px;margin-left:-15px}.container:after,.container:before{content:" ";display:table}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{width:1170px}}.row:after,.row:before{content:" ";display:table}.col-xs-12{position:relative;min-height:1px;float:left;width:100%}.navbar{position:relative;min-height:60px;margin-bottom:21px;border:1px solid transparent}.navbar:after,.navbar:before{content:" ";display:table}.navbar-header:after,.navbar-header:before{content:" ";display:table}.navbar-collapse{overflow-x:visible;border-top:1px solid transparent;box-shadow:inset 0 1px 0 rgba(255,255,255,.1);-webkit-overflow-scrolling:touch}.navbar-collapse:after,.navbar-collapse:before{content:" ";display:table}.navbar-fixed-top .navbar-collapse{max-height:340px}@media (max-device-width:480px) and (orientation:landscape){.navbar-fixed-top .navbar-collapse{max-height:200px}}@media (min-width:768px){.navbar{border-radius:4px}.navbar-header{float:left}.navbar-collapse{width:auto;border-top:0;box-shadow:none}.navbar-collapse.collapse{display:block!important;height:auto!important;padding-bottom:0;overflow:visible!important}.navbar-fixed-top .navbar-collapse{padding-left:0;padding-right:0}.container>.navbar-collapse,.container>.navbar-header{margin-right:0;margin-left:0}.navbar-fixed-top{border-radius:0}}.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030;top:0;border-width:0 0 1px}.navbar-toggle{position:relative;float:right;margin-right:15px;padding:9px 10px;margin-top:13px;margin-bottom:13px;background-color:transparent;background-image:none;border:1px solid transparent;border-radius:4px}.navbar-toggle .icon-bar{display:block;width:22px;height:2px;border-radius:1px}.navbar-toggle .icon-bar+.icon-bar{margin-top:4px}.navbar-nav{margin:9.75px -15px}.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;line-height:21px}@media (min-width:768px){.navbar-toggle{display:none}.navbar-nav{float:left;margin:0}.navbar-nav>li{float:left}.navbar-nav>li>a{padding-top:19.5px;padding-bottom:19.5px}.navbar-text{float:left;margin-left:15px;margin-right:15px}}.navbar-text{margin-top:19.5px;margin-bottom:19.5px}@media (min-width:768px){.navbar-right{float:right!important;margin-right:-15px}}.navbar-default{background-color:#2C3E50;border-color:transparent}.navbar-default .navbar-toggle{border-color:#1a252f}.navbar-default .navbar-toggle .icon-bar{background-color:#fff}.navbar-default .navbar-collapse{border-color:transparent}.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#ecf0f1;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:none;box-shadow:none}.well-lg{padding:24px;border-radius:6px}.navbar{border-width:0}.container{width:970px!important}header{background:#18bc9c}header .container{padding-top:95px;padding-bottom:10px}header .intro-text h3{margin:0}.navbar-fixed-top.navbar-shrink{padding:10px 0}.navbar .navbar-text{color:#777}.navbar .navbar-nav{letter-spacing:1px}section{padding:40px 0}section.chart{padding-bottom:40px;padding-top:0}#portfolio .portfolio-item{right:0;margin:0 0 15px}.condition-value{color:#fff;border-bottom:dotted 1px #fff}

    </style>
 
    <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">
 <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-text white">YOWX</p>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <% currenconditions = current_conditions %> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <p class="navbar-text">Temp: <span class="condition-value"><%= format('%d', currenconditions[0].round(0)) %>°C </span></p>
                </li>
                <li class="page-scroll">
                    <p class="navbar-text">Wind: <span class="condition-value"><%= current_conditions[2]%></span> @ <span class="condition-value"><%= current_conditions[1]%> km/h </span></p>
                </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro-text">
                    <h3>Ottawa Weather Trends &amp; Forecast</h3>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="portfolio">
   
    <div class="container">
        <%= yield %>
    </div><!-- /.container -->
</section>


<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                    <div class="footer-col col-xs-6 text-left">
                        <h3>Other Forecasts</h3>
                        <ul class="list-unstyled">
                              <li>
                                <a href="https://weather.gc.ca/city/pages/on-118_metric_e.html">Current Conditions &amp; Forecast</a>
                            </li>
                            <li>
                                <a href="https://weather.gc.ca/forecast/hourly/on-118_metric_e.html">24h Forecast</a>
                            </li>
                          
                            <li>
                                <a href="https://weather.gc.ca/past_conditions/index_e.html?station=yow">Past 24h</a>
                            </li>
                            <li>
                                <a href="http://climate.weather.gc.ca/climateData/dailydata_e.html?StationID=49568">Almanac for Today</a>
                            </li>
                            <li>
                                <a href="https://weather.gc.ca/almanac/almanac_e.html?id=6106000">Record Values for Today</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-xs-6">
                        <h3>About YOWX</h3>
                        <p>Ottawa weather conditions presented in a way that doesn't suck. Data collected from Environment Canada and (soon) my backyard.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Questions or feedback? <a href="mailto:info@yowx.33mail.com">Send me a note</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
  <%= javascript_include_tag 'application' %>
  <% if Rails.env.production? -%>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75012317-1', 'auto');
  ga('send', 'pageview');
  </script>
  <% end -%>
</body>
</html>
