
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <title>Ottawa Local Weather</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://code.highcharts.com/highcharts.js", 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://code.highcharts.com/themes/grid-light.js", 'data-turbolinks-track' => true %>
  <% if Rails.env.production? -%>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75012317-1', 'auto');
  ga('send', 'pageview');
  </script>
  <% end -%>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">
 <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to 'YOWX', root_path, :class => "navbar-brand" %>
           
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <% currenconditions = current_conditions %> 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <p class="navbar-text">Temp: <span class="condition-value"><%= format('%d', currenconditions[0].round(0)) %>°C </span></p>
                </li>
                <li class="page-scroll">
                    <p class="navbar-text">Wind: <span class="condition-value"><%= current_conditions[2]%></span> @ <span class="condition-value"><%= current_conditions[1]%> km/h </span></p>
                </li>
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="intro-text">
                    <span class="name">Ottawa Weather</span>
                    <hr class="star-light">
                    <span class="skills">Trends &amp; Forecast</span>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="portfolio">
   
    <div class="container">
        <%= yield %>
    </div><!-- /.container -->
</section>


<!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                    <div class="footer-col col-xs-6 text-left">
                        <h3>Other Forecasts</h3>
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://weather.gc.ca/forecast/hourly/on-118_metric_e.html">Environment Canada 24h Forecast</a>
                            </li>
                            <li>
                                <a href="https://weather.gc.ca/city/pages/on-118_metric_e.html">Environment Canada 7d Forecast</a>
                            </li>
                            <li>
                                <a href="https://weather.gc.ca/past_conditions/index_e.html?station=yow">Environment Canada past 24h</a>
                            </li>
                            <li>
                                <a href="http://climate.weather.gc.ca/climateData/dailydata_e.html?StationID=49568">Almanac for Today</a>
                            </li>
                            <li>
                                <a href="https://weather.gc.ca/almanac/almanac_e.html?id=6106000">Record Values for Today</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-xs-6">
                        <h3>About YOWX</h3>
                        <p>Ottawa weather conditions presented in a way that doesn't suck. Data collected from Environment Canada and (soon) my backyard.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Questions or feedback? <a href="mailto:info@yowx.33mail.com">Send me a note</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
